<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div
          *ngFor="let tempProduct of productService.products"
          class="col-md-3 py-3"
        >
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title class="title">{{
                tempProduct.name
              }}</mat-card-title>
              <mat-card-subtitle>{{
                tempProduct.unitPrice | currency : "USD"
              }}</mat-card-subtitle>
            </mat-card-header>
            <img
              mat-card-image
              src="{{ tempProduct.imageUrl }}"
              alt="Photo of a Shiba Inu"
            />
            <mat-card-actions>
              <button mat-button (click)="addToCart(tempProduct)">Add to cart</button>
            </mat-card-actions>
          </mat-card>
        </div>

        <mat-paginator
          [length]="totalItems"
          [pageSize]="pageSize"
          (page)="onPageChange($event)"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>

        <!-- if products empty then display a message-->
        <div
          *ngIf="productService.products?.length === 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products found.
        </div>
      </div>
    </div>
  </div>
</div>
