<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <!-- Step 1: Personal Information -->
        <mat-step [stepControl]="personalFormGroup">
          <form [formGroup]="personalFormGroup">
            <h3>Personal Information</h3>
            <mat-form-field appearance="fill">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" required />
              <mat-error *ngIf="personalFormGroup.get('firstName')?.invalid">
                {{ getErrorMessage("firstName", personalFormGroup) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" required />
              <mat-error *ngIf="personalFormGroup.get('lastName')?.invalid">
                {{ getErrorMessage("lastName", personalFormGroup) }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="email" required />
              <mat-error *ngIf="personalFormGroup.get('email')?.invalid">
                {{ getErrorMessage("email", personalFormGroup) }}
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- Repeat similar error handling for other steps -->
        <!-- Step 2: Shipping Address -->
        <mat-step [stepControl]="shippingFormGroup">
          <form [formGroup]="shippingFormGroup">
            <h3>Shipping Address</h3>

            <!-- Street -->
            <mat-form-field appearance="fill">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" required />
              <mat-error *ngIf="shippingFormGroup.get('street')?.invalid">
                {{ getErrorMessage("street", shippingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- City -->
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" required />
              <mat-error *ngIf="shippingFormGroup.get('city')?.invalid">
                {{ getErrorMessage("city", shippingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- State -->
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" required />
              <mat-error *ngIf="shippingFormGroup.get('state')?.invalid">
                {{ getErrorMessage("state", shippingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- Country -->
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" required />
              <mat-error *ngIf="shippingFormGroup.get('country')?.invalid">
                {{ getErrorMessage("country", shippingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- Postal Code -->
            <mat-form-field appearance="fill">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="zipCode" required />
              <mat-error *ngIf="shippingFormGroup.get('zipCode')?.invalid">
                {{ getErrorMessage("zipCode", shippingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <!-- Step 3: Billing Address -->
        <mat-step [stepControl]="billingFormGroup">
          <form [formGroup]="billingFormGroup">
            <h3>Billing Address</h3>

            <!-- Street -->
            <mat-form-field appearance="fill">
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" required />
              <mat-error *ngIf="billingFormGroup.get('street')?.invalid">
                {{ getErrorMessage("street", billingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- City -->
            <mat-form-field appearance="fill">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" required />
              <mat-error *ngIf="billingFormGroup.get('city')?.invalid">
                {{ getErrorMessage("city", billingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- State -->
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <input matInput formControlName="state" required />
              <mat-error *ngIf="billingFormGroup.get('state')?.invalid">
                {{ getErrorMessage("state", billingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- Country -->
            <mat-form-field appearance="fill">
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" required />
              <mat-error *ngIf="billingFormGroup.get('country')?.invalid">
                {{ getErrorMessage("country", billingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <!-- Postal Code -->
            <mat-form-field appearance="fill">
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="zipCode" required />
              <mat-error *ngIf="billingFormGroup.get('zipCode')?.invalid">
                {{ getErrorMessage("zipCode", billingFormGroup) }}
              </mat-error>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <!-- Step 4: Credit Card Details -->
        <mat-step [stepControl]="paymentFormGroup">
          <form [formGroup]="paymentFormGroup">
            <h3>Credit Card Details</h3>
            <mat-form-field appearance="fill">
              <mat-label>Card Number</mat-label>
              <input matInput formControlName="cardNumber" maxlength="16" />
              <mat-error>
                {{ getErrorMessage("cardNumber", paymentFormGroup) }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Expiry Date (MM/YY)</mat-label>
              <input
                matInput
                formControlName="expiryDate"
                placeholder="MM/YY"
              />
              <mat-error>
                {{ getErrorMessage("expiryDate", paymentFormGroup) }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>CVV</mat-label>
              <input matInput formControlName="cvv" maxlength="4" />
              <mat-error>
                {{ getErrorMessage("cvv", paymentFormGroup) }}
              </mat-error>
            </mat-form-field>

            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </form>
        </mat-step>

        <!-- Step 5: Review Order -->
        <mat-step>
          <h3>Review Your Order</h3>
          <p>Verify all the information provided and confirm your order.</p>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="submitOrder()">Submit</button>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
